// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.rotating-example * {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
	width: 4em;
	height: 4em;
}
